body
{
    display: flex;
    justify-content: center;
    background-color: #000;
}

.large
{
    height: 300px;
    width: 300px;
    background-color: #fff;
}

.box
{
    height: 300px;
    width: 300px;
    background-color: #fff;
    background-image: url("../img/anh1.jpg");
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-position: center;
}